<div class="upload-container">
    <div class="upload-card">
      <h2>Upload Your Document!</h2>
      <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none;" />
      <button mat-raised-button color="primary" class="upload-button" (click)="fileInput.click()">Choose File</button>
      <div *ngIf="selectedFile" class="selected-file">
        <p>Selected File: {{ selectedFile!.name }}</p>
        <button mat-icon-button color="warn" class="close-button" (click)="clearSelectedFile()">
          <delete-icon></delete-icon>
        </button>
      </div>
    </div>
  </div>
  